<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <application>
        <receiver android:name="com.nrr.notification.receiver.ScheduledTaskReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.nrr.notification.TASK_REMINDER" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.nrr.notification.receiver.RemindLaterReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.nrr.notification.REMIND_LATER" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.nrr.notification.receiver.SequentialScheduledTaskReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="com.nrr.notification.SEQUENTIAL_TASK_REMINDER" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>